# File temporanei Office
~$*

# File di sistema
.DS_Store
Thumbs.db
.DS_Store?
._*

# Backup automatici
*~
*.tmp
*.bak
5_Applicativo/X2SevenVault/.env
5_Applicativo/X2SevenVault/GoogleService-Info.plist
5_Applicativo/X2SevenVault/google-services.json
